@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.tickets {
  position: relative;
}

.carLogo {
  width: 130px;
  display: flex;
  align-items: center;
}

.carLogo img {
  width: 100%;
}

.addTIcket-btn,
.addMechanic-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTIcket-btn:focus,
.addMechanic-btn:focus {
  box-shadow: none;
}

.addTIcket-btn:active,
.addMechanic-btn:active {
  box-shadow: none;
}

@keyframes modal_background {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes modal_fade_down {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

.editModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation-name: modal_background;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.editModal > div {
  animation-name: modal_fade_down;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
