@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.tickets {
  position: relative;
}

.carLogo,
.githubLogo {
  width: 130px;
  display: flex;
  align-items: center;
}

.carLogo img,
.githubLogo img {
  width: 100%;
}

.addTIcket-btn,
.addMechanic-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTIcket-btn:focus,
.addMechanic-btn:focus {
  box-shadow: none;
}

.addTIcket-btn:active,
.addMechanic-btn:active {
  box-shadow: none;
}

/* Edit Modal */
@keyframes modal_background {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes modal_fade_down {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

.editModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation-name: modal_background;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.editModal > div {
  animation-name: modal_fade_down;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  transition: all 0.5s ease;
}

.avatar {
  width: 45px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

/* spinner */
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 100px auto 0 auto;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #0d6efd;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #0d6efd;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
